// Current Colors

$white: #FFFFFF
$grey1: #F1F1F1



$grey9: #303030


$gold: #CFC08B
$red: #EF4949
$green: #67D07F
$blue: #56A5E9

$gutter1: 16px
$gutter2: 32px
$gutter3: 48px

.btn
  width: 100%
  background-color: $gold
  border: 1px solid $gold
  border-radius: 5px

.btn-primary
  @extend .btn  

.btn-secondary
  @extend .btn
  background-color: $grey1