@import "_styleguide"

body
  // background-color: $red
p
  -webkit-margin-before: 0
  -webkit-margin-after: 0
  -webkit-margin-start: 0
  -webkit-margin-end: 0

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.navigation-menu
  height: $navigation-height
  position: fixed
  width: $screen-width
  background-color: $grey9
  padding: $gutter5 $gutter7 0 $gutter7

  .back-button, .page-title
    display: inline-block
    color: #fff
    size: 20px

  .page-title
    text-transform: uppercase
    color: $gold
    font-size: 26px
    letter-spacing: 5px
    font-weight: bold
    margin: auto
    display: block
    text-align: center

.current-wrapper
  width: $screen-width
  height: $screen-height
  // margin-left: 800px
  // margin-top: 40px
  border: 1px solid $black
  background-color: $grey1
  overflow-y: scroll


#box
  #menu
    padding: $navigation-height 0 $gutter7 $gutter7
  .menu_profile_image
    img
      width: 208px
      height: 208px
  .menu_profile_info
    padding-top: $gutter6
      
    .profile_name
      margin: 0 0 0 0
      color: white
      font-size: 34px
      font-weight: 100
    .profile_view a
      // margin-bottom: $gutter2
      color: $grey5
      text-decoration: none
      font-size: 24px
  .menu_pages
    padding-top: $gutter6
    ul
      padding: 0
      li
        color: $grey3
        font-size: 56px 
        line-height: 40px 
        list-style-type: none
        margin: $gutter1 0 $gutter6 0
        font-weight: 100

.contact-list
  margin-top: $navigation-height
  
  .contact
    background-color: $white
    border: 1px solid transparent
    margin: 2px 0 
    padding: $gutter3 $gutter7

  .user-img
    width: 100px
    height: 100px
    background-color: $blue
    display: inline-block

  .user-info
    display: inline-block
    vertical-align: top
    // padding: $gutter1 0 $gutter2 $gutter1
    padding: $gutter2 0 $gutter2 $gutter6

    h4
      margin-top: 0
      margin-bottom: 2px
      font-size: 34px

    p
      margin: 0
      color: #9B9B9B

.alpha-scroll
  float: right

  ul
    list-style: none

    li a
      text-decoration: none




#menu_toggle
  font-size: 50px
  margin: $gutter4 0 0 $gutter4
  color: $white

#box
  width: 600px
  font-size: 12px
  left: 0px
  top: 0
  position: fixed
  z-index: 100

#tab
  float: left
  list-style: none outside none
  margin: 0
  padding: 0
  position: relative
  z-index: 99

li span
  display: block
  padding: 0 5px
  position: relative

#menu
  width: 500px
  // padding: 10px
  float: left
  background-color: $grey9
  height: $screen-height
  // border-left: 1px solid #B4B8BB

.show, .hide
  transition: margin-left .3s ease-in
  -webkit-transition: margin-left .3s ease-in

.show
  margin-left: -500px

.hide
  margin-left: 0px

#menu_toggle, .bt
  cursor: pointer

// .bt
//   width: 77px
//   height: 40px
//   text-align:center
//   background: #014464
//   a
//     line-height: 40px
//     color: #fff
//     display: block

// .bt:hover
//   transition: background .3s linear
//   background: #32A3D3
//   -o-transition: background .3s linear
//   -moz-transition: background .3s linear
//   -webkit-transition: background .3s linear

// #deco
//   float: left
      