@import "_styleguide"

body
  background-color: $red

html
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.navigation-menu
  height: 100px
  background-color: $grey9

.current-wrapper
  width: 750px
  height: 1334px
  margin-left: 800px
  margin-top: 40px
  background-color: $grey1
  overflow-y: scroll


.contact-list
  
  .contact
    background-color: $white
    // height: 150px
    // width: 100%
    border: 1px solid transparent
    margin: 2px 0 
    padding: $gutter3 $gutter6

  .user-img
    width: 100px
    height: 100px
    background-color: $blue
    display: inline-block

  .user-info
    display: inline-block
    vertical-align: top
    // padding: $gutter1 0 $gutter2 $gutter1
    padding: $gutter2 0 $gutter2 $gutter5

    h4
      margin-top: 0
      margin-bottom: 2px
      font-size: 34px

    p
      margin: 0
      color: #9B9B9B

.alpha-scroll
  float: right

  ul
    list-style: none

    li a
      text-decoration: none

      