@import "_styleguide"

body
  background-color: $red



.current-wrapper
  width: 750px
  height: 1334px
  margin: auto
  margin-top: 40px
  background-color: $grey1
  overflow-y: hidden

.contact-list
  
  .contact
    background-color: $white
    height: 150px
    width: 100%
    border: 1px solid transparent
    margin: 2px 0 
    padding: $gutter3 $gutter2

  .user-img
    width: 112px
    height: 112px
    background-color: $blue
    display: inline-block

  .user-info
    display: inline-block
    vertical-align: top

    h4
      margin-top: 0
      margin-bottom: 2px
      font-size: 34px

    p
      margin: 0
      color: #9B9B9B